/* Deixamos apenas o reset e os estilos base */

/* 2. Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. Estilos Aplicados ao Corpo da Aplicação */
body {
    background-color: #F9F9F9;
    color: #40444D;
    font-family: 'Arial', sans-serif; /* Usando a fonte padrão */
    line-height: 1.5;
}

/* 4. Estilos de Tipografia Baseados nos seus Padrões */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif; /* Usando a fonte padrão */
    color: #012C63;
}
/* ... remova o restante dos estilos de classe se não estiverem sendo usados ainda ... */