/* src/styles/GlobalStyles.css */

/* 1. Importação das Fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Mulish:wght@400;600;700&display=swap');

/* 2. Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. Estilos Aplicados ao Corpo da Aplicação */
body {
    background-color: #F9F9F9; 
    color: #40444D;
    /* Aplicando a fonte principal */
    font-family: 'Mulish', sans-serif; 
    line-height: 1.5;
}

/* 4. Estilos de Tipografia Baseados nos seus Padrões */
h1, h2, h3, h4, h5, h6 {
    /* Aplicando a fonte secundária para títulos */
    font-family: 'Montserrat', sans-serif; 
    color: #012C63; 
}